{% if featuredCollection %}
    {% for product in featuredCollection.products %}
        <div class="col-lg-offset-0 col-lg-3 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-2 product-holder">
            <div class="product-item text-center">
						{% if product.images.count > 1 %}
						    <a href="#next" class="mini-next"></a>
						    <a href="#prev" class="mini-prev"></a>
						    <div class="image ">
						        <div class="product-mini-gallery">
						        {% for image in product.images %}
						            <img alt="{{ product.name }}" src="{{ image.thumbnail(212, 'auto') }}" width="212" height="281" />
						        {% endfor %}
						        </div>
						    </div>
						{% else %}
						    <img src="{{ product.image.thumbnail(212, 'auto') }}" alt="{{ product.name }}" width="212" height="281" />
						{% endif %}

    <hr>

    <div class="title uppercase bold">
        <a href="/product/{{ product.url_name }}">{{ product.name }}</a>
    </div>
    <div class="price">
        <span>{{ product.price|currency }}</span>
    </div>
    <div class="buttons-holder">
        <div class="add-cart-holder">
            <input type="hidden" name="productId" value="{{ product.id }}"/>
            <a class="md-button" href="/product/{{ product.url_name }}">Select Options</a>
        </div>
    </div>
</div>
        </div>
    {% endfor %}
{% else %}
    <p class="flash success">The product collection was not found. Please create this group on the Shop/Collections page.</p>
{% endif %}