<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="{{ 'js/chosen.jquery.min.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'js/gmap3.min.js'|theme_resource }} "></script>
<script type="text/javascript" src="{{ 'js/css_browser_selector.js'|theme_resource }} "></script>
<script type="text/javascript" src="{{ 'js/jquery.carouFredSel-6.2.1-packed.js'|theme_resource }} "></script>
<script type="text/javascript" src="{{ 'js/jquery.raty.min.js'|theme_resource }} "></script>
<script type="text/javascript" src="{{ 'js/jquery.easing-1.3.js'|theme_resource }} "></script>
<script type="text/javascript" src="{{ 'js/bootstrap-slider.js'|theme_resource }} "></script>
<script type="text/javascript" src="{{ 'js/jquery.lazyload.min.js'|theme_resource }} "></script>