{{ code_block('setup') }}

	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="Description" content="{{ page.description }}"/>
	<meta name="Keywords" content="{{ page.keywords }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/cms/core.css">
    
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href="{{ 'css/bootstrap/css/bootstrap.min.css'|theme_resource }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	{# page styles #}
	{% if globals.active_page == 'home' %}
		{{ partial('css-home') }}
	{% elseif globals.active_page == 'shop' %}
		{{ partial('css-shop') }}
	{% else %}
		{{ partial('css-inner') }}
    {% endif %}