<section class="section-footer">
    <div class="footer-holder">
        {{ widget_block("footer-menu") }}
    </div>

    <div class="footer-payment-icons">
        <ul class="list-inline">
            <li>
                <img  alt="paypal" src="{{ 'images/payments-paypal.png'|theme_resource }} " />
            </li>
            <li>
                <img alt="visa" src="{{ 'images/payments-visa.png'|theme_resource }} " />
            </li>
            <li>
                <img alt="master card" src="{{ 'images/payments-mastercard.png'|theme_resource }} " />
            </li>
            <li>
                <img alt="discover" src="{{ 'images/payments-discover.png'|theme_resource }} " />
            </li>
            <li>
                <img alt="amex" src="{{ 'images/payments-amex.png'|theme_resource }} " />
            </li>
        </ul>
        <div class="powered pull-right">Powered by <a href="http://www.lemonstand.com">LemonStand</a></div>
    </div>
</section>
