<div class="top-menu visible-md visible-lg">
    <ul>
      <li class="">
        <a href="/">Home</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenu1" href="/shop">shop</a>
        {% if categories.count %}
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% tree categories %}
                {% for category in tree.items %}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="/category/{{ category.fullUrlName }}">
                        {{ category.name }}
                      </a>
                    </li>
                {% endfor %}
            {% endtree %}
          </ul>
        {% endif %}
      </li>
    </ul>
    {{ widget_block("header-menu") }}
    <ul>
      {% if customer %}
               <li class="{{ active_page == 'orders' ? 'active' : null }}">
           <a href="{{ site_url('orders') }}">My Orders</a>
         </li>
               <li class="{{ active_page == 'profile' ? 'active' : null }}">
           <a href="{{ site_url('profile') }}">My Profile</a>
         </li>
      {% endif %}
    </ul>
</div>


<select class="top-drop-menu  visible-sm visible-xs">
    <option value="{{ site_url('/') }}">
        Home
    </option>
    <option value="{{ site_url('shop') }}">
        Shop
    </option>
    {% if customer %}
        <option value="{{ site_url('orders') }}">
            My Orders
        </option>
        <option value="{{ site_url('profile') }}">
            My Profile
        </option>
    {% endif %}
    <option value="{{ site_url('about') }}">
        About
    </option>
    <option value="{{ site_url('contact') }}">
        Contact
    </option>
    {{ widget_block("header-mobile-menu") }}
</select>
