---
description: 'Payment form partial for PayPal Standard payment method'
---
{% if payment %}
<form method="post" action="{{ paymentMethod.getPaymentModuleObj().getFormAction(paymentMethod) }}">

    {% set hiddenFields = paymentMethod.getPaymentModuleObj().getHiddenFields(paymentMethod, payment) %}
    {% for field, value in hiddenFields %}
        <input type="hidden" value="{{ value }}" name="{{ field }}">
    {% endfor %}
    <input type="submit" value="Pay with PayPal" class="button">
</form>
{% else %}
    <form method="post" action="" data-ajax-handler="shop:onPay">
        <input type="hidden" value="{{ paymentMethod.id }}" name="payment_method_id">
        <div class="row field-row">
		    <div class="col-xs-12 button-holder right">
	        	<input type="submit" value="Pay" class="button md-button step-btn">
			</div>
        </div>
    </form>
{% endif %}