---
name: shop-passwordrestorerequest
---
{{ flash() }}
{% if invalidHash %}
    <span class="error">Invalid or expired link.</span>
{% endif %}
<p>Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>

<div class="row">
    <div class="field-row col-xs-12 col-md-9">
        <input type="text" id="email" name="email" class="md-input" placeholder="E-mail Address"/>
        <span class="error"></span>
    </div>
    <div class="field-row col-xs-12 col-md-3">
        <input type="hidden" name="requestPasswordRestore" value="1">
        <input type="hidden" name="successMessage" value="Password restore email was sent."/>
        <input type="submit" class="button md-button col-xs-12" value="Submit" name="passwordRestoreSubmit"/>
    </div>
</div>