<div class="products-list-holder">
	{% for product in pagination.items %}
		{% set on_sale = product.onSale %}
		{% set page_url = '/product/' ~ product.url_name %}
	{{ open_form({'class': 'custom', 'onsubmit': 'return false'}) }}
	<div class="product-list-item">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="image-holder">
					<a href="{{ page_url }}"><img class="product-img" alt="{{ image.title }}" src="{{ product.images.first.thumbnail(212, 'auto') }}" /></a> 
				</div>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="item-details-holder">
					
					<h2 class="title" ><a href="{{ page_url }}">{{ product.name }}</a></h2>
					
					<div class="excerpt">
						{{ product.description|unescape }}
					</div>
					
					<div class="price">
						{% if on_sale %}<span class="previous-price">{{ product.fullPrice|currency }}</span>{% endif %}
						<span>{{ product.price|currency }}</span>
					</div>
					<div class="buttons-holder">
						<div class="add-cart-holder">
							{{ flash() }}
							<input type="hidden" name="productId" value="{{ product.id }}"/>
							<a class="md-button" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart, #product-page=shop-product">Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ close_form() }}
	{% else %}
		<h2 class="empty">There are no products in this category.</h2>
	{% endfor %}
</div>