{% for item in items %}
<div class="cart-item row">
	<div class="col-sm-2 col-lg-1">
		<div class="image">
			<img width="60" height="60" alt="" src="{{ item.product.images.first.thumbnail(60, 60) }}" /> 
		</div>
	</div>
	<div class="col-sm-4 col-lg-6">
		<div class="brand">
		</div>
		<div class="title">
			<a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a>
			<ul class="options">
                {% set description = item.optionsString() %}
                {% if description %}
                    <li>{{ description|unescape }}</li>
                {% endif %}
            </ul>
		</div>
	</div>
	<div class="col-sm-6 col-lg-5 details {{ edit_cart ? null : 'no-edit' }}">
		<div class="unit-price">
			{{ item.product.price|currency }}
		</div>
		<div class="quantity">
			{%if edit_cart %}
		    	<input type="text" name="item_quantity[{{ item.key }}]" class="md-input quantity" value="{{ item.quantity }}">
		    {% else %}
		   		{{ item.quantity }}
		    {% endif %}
		</div>
		<div class="total-price">
			{{ item.total()|currency }}
		</div>
		{%if edit_cart %}
			<a class="close-btn" href="#close" 
			data-ajax-handler="shop:cart" 
			data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart"
			data-ajax-extra-fields="delete_item='{{ item.key }}'"></a>
		{% endif %}
	</div>
</div>
{% endfor %}