{{ open_form({'data-ajax-handler': 'shop:onChangePassword', 'class': 'custom', 'data-ajax-update': '#profile-changepassword=shop-changepassword,#profile-addresses=shop-customerprofile', 'data-validation-message' : ''}) }}
{{ flash() }}
<div class="row">
	<div class="field-row col-xs-12 col-md-4">
		<label for="oldPassword">Old password</label>
		<input name="oldPassword" id="oldPassword" type="password" class="text md-input" value=""/>
		<span class="error"></span>
	</div>
	<div class="field-row col-xs-12 col-md-4">
		<label for="password">New password</label>
		<input name="password" id="password" type="password" class="text md-input" value=""/>
		<span class="error"></span>
	</div>
	<div class="field-row col-xs-12 col-md-4">
		<label for="passwordConfirm">Password confirmation</label>
		<input name="passwordConfirm" id="passwordConfirm" type="password" class="text md-input" value=""/>
		<span class="error"></span>
	</div>
</div>
<div class="field-row ">
	<input type="submit" class="button md-button" value="Save Password"/>
	<input type="hidden" name="flash" value="Your password has been successfully changed."/>
	<input type="hidden" name="redirect" value="{{ root_url('/profile') }}"/>
</div>
</form>