---
action: 'cmscontent:archive'
template: inner
protocol: all
published: true
name: Blog Categories
url: /blog/archives/:category
---
<section class="section-products-grid" id="products-grid-sidebar">
    <div class="container">
      <h3>{{ category }}</h3>
{% if archives | length > 0 %}
{% paginate archives by 5 %}
  {% for post in pagination.items %}

    <article class="{{ post.type }}">
        <!-- <header> -->

            <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
            <p>{{ post.published_on | date("F j, Y") }}</p>
            <p><strong>{{ post.author_name }}</strong> in <var>{{ post.type }}</var></p>
        <!-- </header> -->
        <aside>{{ post.excerpt | unescape }}</aside>
    </article>
    <hr/>
  {% endfor %}
  <div class="paging-holder">
    {% navigation %}
  </div>
{% endpaginate %}
{% else %}
  <article>
    <header>
        <h4>Not found</h4>
        <p>No {{ type }} posts found in category: {{ category }} {{ categoryID }}</p>
    </header>
  </article>
{% endif %}
    </div>
</section>
