---
action: 'shop:customerProfile'
template: inner
protocol: all
published: true
name: Profile
url: /profile
---
<section class="section-checkout-page">
    <div class="container">
        {% if customer %}
        
        <div class="panel-group checkout-accordions" id="profile-addresses">
            {{ partial('shop-customerprofile') }}

            <!-- Using hasFeature helper method to check whether card variables should be accessed. -->
            {% if hasFeature('saved-cards') %}
                {% set editedCard = '' %}
                
                <div id="profile-edit-card">
                    {{ partial('shop-customerprofile-edit-card') }}
                </div>

                {{ code_block('script') }}
            {% endif %}
        </div>    
    {% else %}
        Please <a href="{{ root_url('login') }}">login</a> to edit your profile.
    {% endif %}
    </div>
</section>