---
action: 'shop:order'
template: inner
published: true
name: Order
url: '/order/:orderId'
---
<section class="section-shopping-cart-page">
	<div class="container">
		{% if order %}
		<div class="row">
			<div class="col-xs-12">
				<h1>Order number: #{{ order.number }} </h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-9">
				<div class="items-holder">
					{{ partial('shop-orderitems') }}
				</div>
			</div>
			<div class="col-md-12 col-lg-3">
				<div class="right-sidebar">
					{% if order.invoices[0].payments().last().guessPaymentMethod() %}
					<p><strong>Payment method: </strong> {{ order.invoices[0].payments().last().guessPaymentMethod().name }}</p>
					{% endif %}
					<p><strong>Order Date: </strong> {{ order.created_at.format('M jS, Y') }}</p>
					{{ partial('shop-ordertotals') }}
					{% if order.payment_method.has_payment_form() and not order.payment_processed() %}
					<a class="button" href="{{ root_url('/review/'~order.order_hash) }}">Pay the order</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% else %}
		<p class="flash error">Order not found</p>
		{% endif %}
	</div>
</section>